[bot]
ID = BOTID
TOKEN = BOTTOKEN

[guild]
ONBOARDING_ROLE_ID = ONBOARDINGROLEID
NEW_MEMBER_ROLE_ID = NEWMEMBERROLEID
VERIFIED_ROLE_ID = VERIFIEDROLEID
ADD_ROLES_CHANNEL_ID = ROLESCHANNELID
GREETING_CHANNEL_ID = GREETINGCHANNELID
