[bot]
ID = BOTID
TOKEN = BOTTOKEN

[guild]
ONBOARDING_ROLE_ID = 1
NEW_MEMBER_ROLE_ID = 2
VERIFIED_ROLE_ID = 3
ADD_ROLES_CHANNEL_ID = 4
GREETING_CHANNEL_ID = 5
MAIN_ST_CHANNEL_ID = 6
PLAYLISTS_CHANNEL_ID = 7
YOUR_FAVS_CHANNEL_ID = 8
MUSIC_IRL_CHANNEL_ID = 9
SHOW_OFF_CHANNEL_ID = 10
ASK_THE_ROLL_CHANNEL_ID = 11
COLLAB_CHANNEL_ID = 12
EQUIPMENT_CHANNEL_ID = 13
HIFI_CHANNEL_ID = 14
TECH_RECOMMENDATIONS_CHANNEL_ID = 15
SPEAKER_SETUP_CHANNEL_ID = 16
